:root {
  --background: #171717;
  --foreground: #ededed;
  --scrollbar: #343434;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scrollbar-color: var(--scrollbar) var(--background); /* Thumb color and track color */
  scrollbar-width: thin; /* Thin scrollbar */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
